<h1>New Schedule</h1>

<% if current_user && current_user.id.to_s == params[:account_id] %>


<%= render 'form', schedule: @schedule %>

<%= link_to 'Back', account_schedules_path %>

<% elsif current_user %>
<%= link_to "Go to your account", account_path(current_user) %>
<% else %>
<% end %>
<%= console %>
