<div class="container">
  <h1 class="headlines">Welcome to the Memini!</h1>

  <br>
  <h2 class="signup">Sign In</h2>

  <% flash.each do |key, message| %>
 <div id="alert!" class="flash-<%= key %>"><%= message %></div>
 <% end %>
 <%= render 'form' %>
</div>
