<div class="container">

  <%= image_tag 'logo_white', id: 'homepage-logo' %>
  <h2 id="headline">The simpliest emergency fallback system for caregivers.</h2>

  <% flash.each do |key, message| %>
 <div id="alert!" class="flash-<%= key %>"><%= message %></div>
 <% end %>
 <%= render 'form' %>
</div>
