<div class="container">

  <%= image_tag 'logo', id: 'homepage-logo' %>

  <% flash.each do |key, message| %>
 <div id="alert!" class="flash-<%= key %>"><%= message %></div>
 <% end %>
 <%= render 'form' %>
</div>
