<h1>Account Info</h1>
<div class="first">
<p class="prime"><strong>STEP 1</strong></br> Edit Primary Contact (Your information)</p>
</div>
<p class="secondary"><strong>STEP 2</strong></br>Edit Secondary Contact</p>
<p class="emerge"><strong>STEP 3</strong></br>Edit Patient Info</p>
<%= render 'form', account: @account %>


<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
